<!-- forgetpassword.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <!-- Import Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
</head>

<body>
    <!-- Import navbar from navbar.ejs -->
    <%- include("navbar", { user: null }); -%>

        <div class="flex flex-column w-full h-screen bg-gray-800 text-white">
            <div class="m-10" id="loginForm">

                <% if (!resetToken){ %>
                    <div class="mb-4">
                        <label class="block font-bold mb-2" for="email">
                            Email
                        </label>
                        <input id="email"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="email" placeholder="Email" name="email">
                    </div>
                    <div class="flex items-center justify-between">
                        <button onclick="changepassword(this)" data-resetToken=""
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit">
                            Get Password Link
                        </button>
                    </div>
                    <% } else { %>

                        <div class="mb-4">
                            <label class="block font-bold mb-2" for="newPassword">
                                New Password
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="newPassword" type="password" placeholder="New Password" name="newPassword">
                        </div>
                        <div class="mb-4">
                            <label class="block font-bold mb-2" for="confirmNewPassword">
                                Confirm New Password
                            </label>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="confirmNewPassword" type="password" placeholder="Confirm New Password"
                                name="confirmNewPassword">
                        </div>
                        <div class="flex items-center justify-between">
                            <button onclick="changepassword(this)" data-resetToken=<%=resetToken %> data-id=<%= user._id
                                    %> class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
                                    focus:outline-none focus:shadow-outline">
                                    Change Password
                            </button>
                        </div>
                        <% } %>
            </div>
        </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>

<script>
    function changepassword(btn) {
        const resetToken = btn.getAttribute("data-resetToken");
        if (!resetToken) {
            const email = document.getElementById("email").value;
            axios.post('http://localhost:3000/api/users/changepassword', { email })
                .then(function (response) {
                    window.location.href = "http://localhost:3000/forgetpassword/" + response.data.resetToken + "/" + email;
                }).catch(function (error) {
                    alert(error);
                });
        }
        else {
            const userid = btn.getAttribute("data-id");
            console.log(userid)
            const password = document.getElementById("newPassword").value;
            const confirmNewPassword = document.getElementById("confirmNewPassword").value
            if (password !== confirmNewPassword) {
                alert("Passwords do not match");
                return;
            }
            axios.post('http://localhost:3000/api/users/changepassword/' + resetToken, { userid, password })
                .then(function (response) {
                    alert("Password changed successfully");
                    window.location.href = "http://localhost:3000/login";
                })
        }
    }
</script>

</html>